ChangeLog
Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
configure
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
build/
build-aux/config.guess
build-aux/compile
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
